{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'farm/main.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>pride</title>
</head>

<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="no-padding col-md-1 col-sm-4">
                    <header>
                        <nav>
                            {% url 'home' as hom %} {% url 'students' as acc %} {% url 'programs' as prog %}
                            {% url 'login' as log %} {% url 'student_detail' pk=user.student.pk as sd %}
                            <a href="{% url 'home' %}" {% if request.path == hom %} class="active" {% endif %}>Home</a>



                            <a href="{% url 'login' %}" {% if request.path == log %} class="active"
                                {% endif %}>Login</a>
                            <div class="dd">
                                <a {% if request.path == sd %} class="active"
                                    {% endif %}>{{ user.student.first_name }}</a>
                                <div class="dd-menu">
                                    <ul>
                                        <a href="{% url 'farmer_detail'  %}">
                                            <li>Profile</li>
                                        </a>
                                        <!-- <a href="{#{% url 'administrator' afat_extra=0 %}#}">
                                                <li>Admin panel</li>
                                            </a>
                                             -->
                                    </ul>
                                </div>
                            </div>



                </div>

                <a class="text-warning" href="{% url 'logout' %}">
                    Logout
                </a>
                </nav>
                </header>
            </div>
            <div class="col-md-11 col-sm-8">
                <br>
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>