{% extends 'farm/base.html' %}


{% block content %}

{% if user.is_superuser or user.farmer == farmer %}
<div class="abs-popup">
    <div class="no-shade card-box grades">
        <!-- <h5>Success</h5><br/> -->
        <a onclick="toggleGrades()" class="toggleBtn btn btn-danger"><i class="fas fa-times"></i> Close</a><br><br>
        <table>
            <thead>
                <th>Reports</th>
                <th>Season</th>
            </thead>
            
        </table><br>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="no-shade card-box">
                <div class="row">
                    <div class="col-md-3 col-xs-12 text-center">
                        <div class="thumb img-round">
                            <img src="../static/uploads/{% if student.picture %}{{ student.picture }} {% else %}no-img.png {% endif %}" />
                        </div>
                        {% if user.is_authenticated %}
                        {% if user.farmer.pk == farmer.pk or user.is_superuser %}
                        <div class="text-left">
                            <br/>
                            <a class="btn btn-primary" style="display: block" href="{% url 'user_edit' pk=farmer.pk %}"><i class="material-icons">edit</i>Edit</a><br/>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <h3>{{ farmer.first_name }} {{ farmer.last_name }}</h3>
                        
                        <hr/>
                        
                        <div><span class="sm-label label text-primary"><i class="fas fa-map-marker"></i></span> {{ farmer.city }}, {{ farmer.country }}</div><br/>
                        <div><span class="sm-label label text-primary"><i class="fas fa-envelope"></i></span> {{ farmer.email }}</div>
                        
                        <hr/>
                        
        </div>
        


{% endblock %}